/* ===== SMART LEARNING PAGE ===== */

.smart-body{
background:linear-gradient(to right,#020617,#0f172a);
color:white;
font-family:'Poppins', sans-serif;
margin:0;
padding:40px;
}

/* Heading */
.smart-heading{
text-align:center;
font-size:36px;
margin-bottom:30px;
}

/* Layout */
.smart-container{
display:flex;
align-items:center;
justify-content:space-between;
gap:40px;
flex-wrap:wrap;
}

/* Text */
.smart-text{
flex:1;
font-size:16px;
font-weight:500;
line-height:1.8;
}

/* Image */
.smart-img{
flex:1;
text-align:center;
}

.smart-img img{
width:100%;
max-width:500px;

border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
transition:0.3s;
}


/* Back button */
.smart-back-btn{
text-align:center;
margin-top:40px;
}

.smart-back-btn a{
color:#38bdf8;
text-decoration:none;
font-size:16px;
}

.smart-back-btn a:hover{
text-decoration:underline;
}

/* Mobile */
@media(max-width:768px){

.smart-container{
flex-direction:column;
text-align:center;
}

.smart-img{
text-align:center;
}

}