<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Emotion Detection</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">

</head>

<body>
<!-- MENU BUTTON -->
<div class="menu-toggle" onclick="openMenu()">
  ☰
</div>



<ul class="feature-list">

<li>
<a href="/face-detection">Face Emotion Detection</a>
</li>

</ul>
</section>



</body>
</html>